<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="apple-touch-icon" href="https://assets1.brapp.tv/assets/apple-touch-icon-57x57-344b68312984e00b2f121f46b15bf77f20d7d77d5c1349edc8402e06c381b745.png" sizes="57x57" />
    <link rel="apple-touch-icon" href="https://assets0.brapp.tv/assets/apple-touch-icon-60x60-c854b4376f3cb60fbf540f04d6b913768f6019c1186a789ce86fe381e50474c1.png" sizes="60x60" />
    <link rel="apple-touch-icon" href="https://assets2.brapp.tv/assets/apple-touch-icon-72x72-6c4baab105628e431982db4fc190cd8d3c7cb9a52d880cd85e4a26b77b108d7c.png" sizes="72x72" />
    <link rel="apple-touch-icon" href="https://assets1.brapp.tv/assets/apple-touch-icon-76x76-f78bbf3934ebc90034e9b5292ec169388d66520d2ff896ff4740fc094d393e60.png" sizes="76x76" />
    <link rel="apple-touch-icon" href="https://assets2.brapp.tv/assets/apple-touch-icon-114x114-32be1836eb21df72f6dd42d2e8f7b2185178794987c83cd36bebeb7830889ad4.png" sizes="114x114" />
    <link rel="apple-touch-icon" href="https://assets0.brapp.tv/assets/apple-touch-icon-120x120-3357d046bbb7ab606f37e7087af709a2a2f04722cf6c2a55ff5e5617d6f576b1.png" sizes="120x120" />
    <link rel="apple-touch-icon" href="https://assets3.brapp.tv/assets/apple-touch-icon-144x144-0d6bd11abd57af4ef7dddb371cede1bb8eae431b5cd718f9d577ed92dc322769.png" sizes="144x144" />
    <link rel="apple-touch-icon" href="https://assets1.brapp.tv/assets/apple-touch-icon-152x152-a16d20674c8a66956486f6b6b7ce129266d075168bd6488b4be9cf7f3f2e7020.png" sizes="152x152" />
    <link rel="apple-touch-icon" href="https://assets3.brapp.tv/assets/apple-touch-icon-180x180-88c18fb83f0ba2d933bd4a35c844df4891fc7bfe1c9e45d584992fc62cfecbd1.png" sizes="180x180" />

    <link rel="icon" type="image/png" href="https://assets0.brapp.tv/assets/favicon-32x32-1cd927758a072f22642a003df7005e16c7287b85c74995e334abeffabef42806.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="https://assets3.brapp.tv/assets/favicon-194x194-9c1f08be69365408b9390ad64e37323ea381cd77b05ba2afd8c743229261834e.png" sizes="194x194" />
    <link rel="icon" type="image/png" href="https://assets0.brapp.tv/assets/favicon-96x96-851fa8f8e0087e0b419527ece0b6d3daffbc24c02c7f448353fb0a3e7feca03d.png" sizes="96x96" />

    <link rel="icon" type="image/png" href="https://assets0.brapp.tv/assets/android-chrome-192x192-07b58d1233456ef5f69f2903c8021a47484cac09a6b4d4fa2d66c9b63c02d160.png" sizes="192x192" />
    <link rel="icon" type="image/png" href="https://assets0.brapp.tv/assets/favicon-16x16-0fd915f0fdb61478349af149e8294eb9cbe63dd1faaa38d3d5fcbc4d67ecd675.png" sizes="16x16" />

    <link rel="manifest" href="/androidchrome.json">
    <meta name="msapplication-TileColor" content="#00a300">
    <meta name="msapplication-TileImage" content="https://assets2.brapp.tv/assets/mstile-144x144-d76b6d9e9736b28e4d6a86e95df105cadcd38f6e57076a7b59f3cbdae25be3c8.png">
    <meta name="theme-color" content="#ffffff">

    <script src="https://use.typekit.net/fky2lpd.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}} nav-closed">

    {{navigation}}

    <div class="site-wrapper">

        {{! Everything else gets inserted here }}
        {{{body}}}

        <footer class="site-footer clearfix">
            <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
            <section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a></section>
        </footer>

    </div>

    {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    {{! The main JavaScript file for Serge }}
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>

</body>
</html>
